.about-header {
  font-family: Fredoka One;
  font-size: 2.5rem;
  padding: 10rem 4rem 10rem 4rem;
  color: var(--brown);
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-text-container {
  padding-bottom: 8rem;
}

.about-text {
  font-size: 1.25rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

@media (min-width: 768px) {
  .about-header {
    font-size: 5rem;
    display: block;
    padding: 12rem 10.5rem 8rem 10.5rem;
  }

  .about-text {
    font-size: 1.25rem;
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
