.header-text {
  font-family: Fredoka One;
  font-size: 2.5rem;
  padding: 10rem 4rem 10rem 4rem;
  color: var(--brown);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 614px) {
  .header-text {
    font-size: 5rem;
    display: block;
    padding: 12rem 10.5rem 12rem 10.5rem;
  }
}
