.header-img {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-img > div {
  color: var(--cream);
}

.header-text {
  font-family: Fredoka One;
  font-size: 2.5rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
  max-width: 60%;
}

@media (min-width: 768px) {
  .header-img {
    background-attachment: fixed;
    height: 100vh;
  }

  .header-text {
    font-size: 5rem;
    padding-top: 0;
    padding-bottom: 0;
  }
}
