@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato&display=swap");

html {
  --dark-brown: #4d3e3e;
  --coral: #ff926b;
  --cream: #fffaeb;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Lato", sans-serif;
  background-color: var(--cream);
}
